@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scale-guide-board .finger {
  opacity: 1 !important;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  width: auto;
  height: auto;
  border-radius: 0;
  pointer-events: none;
}

.scale-guide-board .finger:empty {
  display: none;
}

.scale-guide-board .finger .scale-guide-note {
  /* min-width: 1rem;
  min-height: 1rem;
  padding: 0.1rem 0.35rem; */
  /* border-radius: 9999px; */
  /* border: 3px solid #000; */
  font-size: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}

/* .scale-guide-board .finger .scale-guide-note--root {
  background-color: #60a5fa;
}

.scale-guide-board .finger .scale-guide-note--degree {
  background-color: #fde047;
} */

.scale-guide-board .fret.mute .finger {
  display: none;
}
